body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
}

h1 {
    color: #B22222;
}

h2 {
    color: #800000;
}

div {
    background-color: #B0C4DE;
}

p, ul {
    color: #191970;
}